.dl {
  &--pop {
    margin-top: get_vw(50);
    padding: get_vw(50);
    background: rgb(16, 16, 16);
    background: $color-download_box;

    @include min-screen() {
      margin-top: get_vw(50, 1600);
      padding: get_vw(50, 1600);
    }

    @include min-screen(1600px) {
      margin-top: 50px;
      padding: 50px;
    }

    &__wrapper {
      width: get_vw(600);
      margin: 0 auto;

      @include min-screen() {
        display: flex;
        flex-wrap: wrap;
        width: get_vw(990, 1600);
      }

      @include min-screen(1600px) {
        width: 990px;
      }
    }

    &__item {
      @include max-screen() {
        &:not(:first-child) {
          margin-top: get_vw(45);
        }
      }

      @include min-screen() {
        width: get_vw(470, 1600);

        &:nth-child(even) {
          margin-left: get_vw(50, 1600);
        }

        &:nth-child(n+3) {
          margin-top: get_vw(50, 1600);
        }
      }

      @include min-screen(1600px) {
        width: 470px;

        &:nth-child(even) {
          margin-left: 50px;
        }

        &:nth-child(n+3) {
          margin-top: 50px;
        }
      }
    }

    &__head {
      width: 100%;
      height: get_vw(40);
      font-size: get_vw(28);
      font-weight: 900;
      background-color: $color-download_head;
      justify-content: center;
      color: #fff;
      display: flex;
      align-items: center;

      @include min-screen() {
        height: get_vw(30, 1600);
        font-size: get_vw(20, 1600);
      }

      @include min-screen(1600px) {
        height: 30px;
        font-size: 20px;
      }
    }

    &__thumb {
      display: block;
      width: 100%;
      margin-top: get_vw(20);
      font-size: 0;
      position: relative;

      @include min-screen() {
        margin-top: get_vw(20, 1600);
        transition: 300ms;

        &:hover {
          opacity: 0.7;
        }
      }

      @include min-screen(1600px) {
        margin-top: 20px;
      }

      &::after {
        display: block;
        content: "";
        position: absolute;
        width: get_vw(80);
        height: get_vw(80);
        background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/common/download.png);
        background-size: contain;
        right: get_vw(30);
        bottom: get_vw(30);

        @include min-screen() {
          width: get_vw(50, 1600);
          height: get_vw(50, 1600);
          right: get_vw(20, 1600);
          bottom: get_vw(20, 1600);
        }

        @include min-screen(1600px) {
          width: 50px;
          height: 50px;
          right: 20px;
          bottom: 20px;
        }
      }
    }

    &__inner {
      width: get_vw(600);
      margin: get_vw(60) auto 0;
      color: #fff;

      @include min-screen() {
        margin: get_vw(40, 1600) auto 0;
      }

      @include min-screen(1600px) {
        margin: 40px auto 0;
      }
    }

    &__text {
      font-size: get_vw(20);
      padding-left: 1em;
      text-indent: -1em;
      line-height: 1.5;

      @include min-screen() {
        font-size: get_vw(12, 1600);
      }

      @include min-screen(1600px) {
        font-size: 12px;
      }
    }
  }

  &--pn {
    display: flex;
    margin: get_vw(60) auto 0;
    width: get_vw(700);
    justify-content: space-between;
    align-items: center;

    @include min-screen() {
      margin-top: get_vw(60, 1600);
      width: get_vw(620, 1600);
    }

    @include min-screen(1600px) {
      margin-top: 60px;
      width: 620px;
    }

    &__inner {
      display: flex;

      &.dl--pn__left .dl--pn__arrow {
        &:before {
          transform: scale(-1, 1);
        }
      }
    }

    &__center {
      width: get_vw(322);
      display: flex;

      @include min-screen() {
        width: get_vw(350, 1600);
      }

      @include min-screen(1600px) {
        width: 350px;
      }
    }

    &__num {
      display: flex;
      align-items: center;
      justify-content: center;
      width: get_vw(70);
      height: get_vw(70);
      border-radius: get_vw(100);
      background-color: $color-off;
      cursor: pointer;
      color: #fff;
      font-size: get_vw(28);
      font-weight: 900;
      padding-top: 3px;
      border: 1px solid $color-off;

      &.on,
      &:hover {
        border: none;
        color: #000;
        background-color: $color-download;
      }



      &:not(:first-child) {
        margin-left: get_vw(14);
      }

      @include min-screen() {
        width: get_vw(50, 1600);
        height: get_vw(50, 1600);
        font-size: get_vw(20, 1600);
        font-weight: 900;

        &:not(:first-child) {
          margin-left: get_vw(10, 1600);
        }
      }

      @include min-screen(1600px) {
        width: 50px;
        height: 50px;
        font-size: 20px;

        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }

    &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: get_vw(70);
      height: get_vw(70);
      border-radius: get_vw(100);
      background-color: $color-arrow;
      cursor: pointer;

      &.off {
        background-color: $color-arrowOff;
        pointer-events: none;

        &:before {
          background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/download/arrow_off.svg);
        }

        &.double {
          &:before {
            background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/download/arrow_double_off.svg);
          }
        }
      }

      @include min-screen() {
        width: get_vw(50, 1600);
        height: get_vw(50, 1600);
      }

      @include min-screen(1600px) {
        width: 50px;
        height: 50px;
      }

      &:nth-child(2) {
        margin-left: get_vw(14);

        @include min-screen() {
          margin-left: get_vw(10, 1600);
        }

        @include min-screen(1600px) {
          margin-left: 10px;
        }
      }

      &:before {
        display: block;
        content: "";
        width: get_vw(40);
        height: get_vw(30);
        background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/download/arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @include min-screen() {
          width: get_vw(20, 1600);
          height: get_vw(20, 1600);
        }

        @include min-screen(1600px) {
          width: 20px;
          height: 20px;
        }
      }

      &.double {
        &:before {
          background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/download/arrow_double.svg);
        }
      }
    }
  }

  &--box {
    background: rgb(16, 16, 16);
    background: $color-download_box;
    padding: get_vw(70) get_vw(50);

    @include min-screen() {
      padding: get_vw(70, 1600) get_vw(160, 1600);

    }

    @include min-screen(1600px) {
      padding: 70px 160px;
    }
  }

  &--event {
    text-align: center;

    &:not(:first-child) {
      padding-top: get_vw(60);
      margin-top: get_vw(60);
      border-top: 1px solid #a0a0a0;

      @include min-screen() {
        padding-top: get_vw(60, 1600);
        margin-top: get_vw(60, 1600);
      }

      @include min-screen(1600px) {
        padding-top: 60px;
        margin-top: 60px;
      }
    }

    &__head {
      font-size: get_vw(30);
      font-weight: bold;
      color: #fff;

      @include min-screen() {
        font-size: get_vw(26, 1600);
      }

      @include min-screen(1600px) {
        font-size: 26px;
      }
    }

    &__line {
      width: get_vw(24);
      height: get_vw(6);
      background-color: $color-download_head_line;
      margin: get_vw(25) auto 0;

      @include min-screen() {
        width: get_vw(24, 1600);
        height: get_vw(6, 1600);
        margin-top: get_vw(25, 1600);
      }

      @include min-screen(1600px) {
        width: 24px;
        height: 6px;
        margin-top: 25px;
      }
    }

    &__thumb {
      width: get_vw(600);
      margin: get_vw(40) auto 0;
      font-size: 0;

      @include min-screen() {
        width: get_vw(600, 1600);
        margin-top: get_vw(50, 1600);
      }

      @include min-screen(1600px) {
        width: 600px;
        margin-top: 50px;
      }

      &.t02 {
        width: get_vw(600);

        @include min-screen() {
          width: get_vw(600, 1600);
        }

        @include min-screen(1600px) {
          width: 600px;
        }
      }
    }

    &__btn {
      margin-top: get_vw(60);

      @include min-screen() {
        width: get_vw(770, 1600);
        margin-top: get_vw(80, 1600);
      }

      @include min-screen(1600px) {
        width: 770px;
        margin-top: 80px;
      }
    }

    &__inner {
      margin-top: get_vw(50);

      @include min-screen() {
        margin-top: get_vw(40, 1600);
      }

      @include min-screen(1600px) {
        margin-top: 40px;
      }
    }

    &__text {
      text-align: left;
      padding-left: 1em;
      text-indent: -1em;
      color: #fff;
      font-size: get_vw(20);
      line-height: 1.5;

      @include min-screen() {
        font-size: get_vw(12, 1600);
      }

      @include min-screen(1600px) {
        font-size: 12px;
      }
    }
  }

  &--btn {
    margin-top: get_vw(40);

    @include min-screen() {
      display: flex;
      justify-content: center;
      margin-top: get_vw(40, $vp_pc);
    }

    @include min-screen(1600px) {
      margin-top: 40px;
    }

    &>span {
      padding-top: get_vw(6);

      @include min-screen() {
        padding-top: get_vw(6, $vp_pc);
      }

      @include min-screen(1600px) {
        padding-top: 6px;
      }
    }
  }
}