.header {
  width: 100%;
  position: relative;
  z-index: 1000;

  @include min-screen() {
    position: fixed;
  }

  &.open {
    & .header--nav {
      opacity: 1;
      pointer-events: auto;
    }

    & .header--btn {
      background: transparent;
      border: transparent;

      &>span {
        width: get_vw(56);
        background-color: $color-btn_line_open;

        &:first-child {
          top: 46%;
          transform: rotate(45deg);
        }

        &:last-child {
          bottom: 49%;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &--inner {
    @include min-screen() {
      position: relative;
      width: 100%;
      max-width: 1600px;
      margin: 0 auto;
    }
  }

  &--language {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: get_vw(60);
    width: 100%;
    z-index: 10;

    @include min-screen() {
      position: absolute;
      top: 0;
      right: 0;
      justify-content: flex-end;
      height: get_vw(30, $vp_pc);
      z-index: 1000;
    }

    @include min-screen(1600px) {
      height: 30px;
    }

    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-header_txt;
      font-size: get_vw(20);
      width: get_vw(540);

      @include min-screen() {
        margin-right: get_vw(30, $vp_pc);
        font-size: get_vw(14, $vp_pc);
        width: auto;
      }

      @include min-screen(1600px) {
        margin-right: 30px;
        font-size: 14px;
      }
    }

    &__link {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: get_vw(260);
      height: 100%;
      color: #fff;
      right: 0;
      background: $color-language_bg;
      font-size: get_vw(22);
      font-weight: bold;

      @include min-screen() {
        position: relative;
        font-size: get_vw(16, $vp_pc);
        width: get_vw(218, $vp_pc);
        transition: 300ms;

        &:hover {
          opacity: 0.7;
        }
      }

      @include min-screen(1600px) {
        font-size: 16px;
        width: 218px;
      }

      &:after {
        display: block;
        content: "";
        position: absolute;
        right: get_vw(20);
        width: get_vw(9);
        height: get_vw(16);
        background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/common/arrow_wh_b.svg);
        background-size: contain;
        background-repeat: no-repeat;

        @include min-screen() {
          right: get_vw(9, $vp_pc);
          width: get_vw(9, $vp_pc);
          height: get_vw(16, $vp_pc);
        }

        @include min-screen(1600px) {
          right: 9px;
          width: 9px;
          height: 16px;
        }
      }
    }
  }

  &--nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $color-header_bg_sp;
    z-index: 100;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 0;
    transition: all 300ms;
    opacity: 0;
    pointer-events: none;

    @include min-screen() {
      background: transparent;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: get_vw(8, $vp_pc) get_vw(40, $vp_pc) get_vw(14, $vp_pc) get_vw(45, $vp_pc);
      pointer-events: auto;
      opacity: 1;
      height: get_vw(130, $vp_pc);
    }

    @include min-screen(1600px) {
      padding: 8px 40px 14px 45px;
      height: 130px;
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 50%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &__logo {
      display: inline-block;
      width: get_vw(318);

      @include max-screen(766px) {
        margin-top: get_vw(56);
      }

      @include min-screen() {
        width: get_vw(168, $vp_pc);
        transition: 300ms;
        position: absolute;
        top: 50%;
        left: get_vw(62, $vp_pc);
        transform: translateY(-50%);
        margin-top: get_vw(4, $vp_pc);

        &:hover {
          opacity: 0.7;
        }
      }

      @include min-screen(1600px) {
        width: 176px;
        left: 62px;
        margin-top: 4px;
      }
    }

    &__list {
      margin-top: get_vw(76);

      @include min-screen() {
        margin-top: 0;
        margin-bottom: get_vw(4, $vp_pc);
        display: flex;
      }

      @include min-screen(1600px) {
        margin-bottom: 4px;
      }
    }

    &__item {
      position: relative;

      &:not(:first-child) {
        margin-top: get_vw(50);
        padding-top: get_vw(50);

        @include min-screen() {
          margin-top: 0;
          padding-top: 0;
          margin-left: get_vw(40, $vp_pc);
          padding-left: get_vw(40, $vp_pc);
          border-left: 1px solid #151c39;
        }

        @include min-screen(1600px) {
          margin-left: 40px;
          padding-left: 40px;
        }

        &:before {
          display: block;
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: get_vw(20);
          height: 1px;
          background-color: #fff;

          @include min-screen() {
            display: none;
          }
        }
      }
    }

    &__link {
      font-size: get_vw(32);
      font-weight: bold;
      color: $color-header_txt;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      @include min-screen() {
        font-size: get_vw(18, $vp_pc);
        display: flex;

        &::before {
          position: absolute;
          bottom: get_vw(-4, $vp_pc);
          left: 0;
          content: '';
          width: 100%;
          height: get_vw(2, $vp_pc);
          background: $color-link_line;
          transform: scale(0, 1);
          transform-origin: center top;
          transition: transform .3s;
        }

        &:hover::before,
        &.on::before {
          transform: scale(1, 1);
        }
      }

      @include min-screen(1600px) {
        font-size: 18px;

        &::before {
          bottom: -4px;
          height: 2px;
        }
      }

      &.blank {
        &:after {
          display: block;
          content: "";
          position: absolute;
          right: get_vw(-35);
          background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/common/blank_exn.png);
          background-size: contain;
          background-repeat: no-repeat;
          width: get_vw(20);
          height: get_vw(15);

          @include min-screen() {
            position: relative;
            right: 0;
            width: get_vw(13, $vp_pc);
            height: get_vw(10, $vp_pc);
            margin-left: get_vw(10, $vp_pc);
          }

          @include min-screen(1600px) {
            width: 13px;
            height: 10px;
            margin-left: 10px;
          }
        }
      }
    }
  }

  &--btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid get_vw(6) #fff;
    top: get_vw(30);
    right: get_vw(30);
    width: get_vw(100);
    height: get_vw(100);
    background: $color-btn_bg;
    z-index: 1000;
    transition: all 300ms;

    &.off {
      opacity: 0;
    }

    @include min-screen() {
      display: none;
    }

    &>span {
      position: absolute;
      width: get_vw(36);
      height: get_vw(4);
      background-color: $color-btn_line;
      transition: all 300ms;

      &:first-child {
        top: get_vw(38);
      }

      &:last-child {
        bottom: get_vw(38);
      }
    }
  }

  &--wrapper {
    width: 100%;
    height: 100%;
    background: $color-header_bg_sp_1;
    border-bottom: solid $color-header_line get_vw(10);
    position: relative;
    z-index: 1000;

    @include min-screen() {
      border-bottom: solid get_vw(9, $vp_pc);
      border-image: $color-header_line_pc 1;
    }

    @include min-screen(1600px) {
      border-bottom: solid 9px;
    }
  }
}