.music {
  position: relative;
  z-index: 10;
  text-align: center;

  &--search {
    width: get_vw(700);
    height: get_vw(70);
    margin: get_vw(40) auto 0;
    background-color: #fff;
    position: relative;

    @include min-screen() {
      width: get_vw(630, 1600);
      height: get_vw(50, 1600);
      margin-top: get_vw(30, 1600);
    }

    @include min-screen(1600px) {
      width: 630px;
      height: 50px;
      margin-top: 30px;
    }

    &:before {
      position: absolute;
      display: block;
      content: "";
      width: get_vw(40);
      height: get_vw(40);
      background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/music/search.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      left: get_vw(20);
      top: 50%;
      transform: translateY(-50%);

      @include min-screen() {
        width: get_vw(25, 1600);
        height: get_vw(25, 1600);
        left: get_vw(15, 1600);
      }

      @include min-screen(1600px) {
        width: 25px;
        height: 25px;
        left: 15px;
      }
    }

    &__input {
      width: 100%;
      height: 100%;
      padding: 0 get_vw(100);
      font-size: get_vw(30);

      @include min-screen() {
        padding: 0 get_vw(120, 1600) get_vw(0, 1600);
        font-size: get_vw(24, 1600);

      }

      @include min-screen(1600px) {
        padding: 0 120px 0px;
        font-size: 24px;
      }

      &::placeholder {
        font-size: get_vw(20);
        position: relative;
        top: -0em;

        @include min-screen() {
          font-size: get_vw(16, 1600);
          top: -0.2em;
        }

        @include min-screen(1600px) {
          font-size: 16px;
          top: -0.2em;
        }
      }
    }

    &__delete {
      position: absolute;
      display: block;
      width: get_vw(60);
      height: 100%;
      background-color: $color-music_delete;
      right: 0;
      top: 0;
      cursor: pointer;

      @include min-screen() {
        width: get_vw(30, 1600);
      }

      @include min-screen(1600px) {
        width: 30px;
      }

      &:before {
        position: absolute;
        display: block;
        content: "";
        width: get_vw(30);
        height: get_vw(30);
        background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/music/delete.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include min-screen() {
          width: get_vw(17, 1600);
          height: get_vw(17, 1600);
        }

        @include min-screen(1600px) {
          width: 17px;
          height: 17px;
        }
      }
    }
  }

  &--list {
    width: get_vw(700);
    margin: get_vw(30) auto 0;

    @include min-screen() {
      display: flex;
      flex-wrap: wrap;
      width: get_vw(1100, 1600);
      margin-top: get_vw(40, 1600);
    }

    @include min-screen(1600px) {
      width: 1100px;
      margin-top: 40px;
    }
  }

  &--item {
    width: get_vw(700);
    padding: get_vw(50);
    background: $color-common_cont_bg;

    @include min-screen() {
      width: get_vw(540, 1600);
      padding: get_vw(55, 1600);

      &:nth-child(even) {
        margin-left: get_vw(20, 1600);
      }

      &:nth-child(n+3) {
        margin-top: get_vw(20, 1600);
      }
    }

    @include min-screen(1600px) {
      width: 540px;
      padding: 55px;

      &:nth-child(even) {
        margin-left: 20px;
      }

      &:nth-child(n+3) {
        margin-top: 20px;
      }
    }

    @include max-screen() {
      &:not(:first-child) {
        margin-top: get_vw(30);
      }
    }

    &__wrapper {
      display: flex;
    }

    &__thumb {
      font-size: 0;
      width: get_vw(280);
      position: relative;

      &.new {
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          content: "NEW";
          font-weight: bold;
          font-size: get_vw(16);
          background-color: #ec2036;
          color: #fff;
          width: get_vw(70);
          height: get_vw(28);
          padding-top: get_vw(2);

          @include min-screen() {
            font-size: get_vw(14, 1600);
            width: get_vw(50, 1600);
            height: get_vw(20, 1600);
            padding-top: get_vw(2, 1600);
          }

          @include min-screen(1400px) {
            font-size: 14px;
            width: 50px;
            height: 20px;
            padding-top: 2px;
          }
        }
      }

      @include min-screen() {
        width: get_vw(200, 1600);
      }

      @include min-screen(1600px) {
        width: 200px;
      }
    }

    &__inner {
      text-align: left;
      width: get_vw(280);
      margin-left: get_vw(40);
      line-height: 1.5;
      color: #fff;
      overflow-wrap: break-word;
      font-weight: bold;

      @include min-screen() {
        width: get_vw(200, 1600);
        margin-left: get_vw(30, 1600);
      }

      @include min-screen(1600px) {
        width: 200px;
        margin-left: 30px;
      }
    }

    &__cat {
      font-size: get_vw(22);
      width: 100%;
      height: get_vw(28);
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: get_vw(5);
      font-weight: bold;

      @include min-screen() {
        font-size: get_vw(16, 1600);
        height: get_vw(20, 1600);
        padding-top: get_vw(3, 1600);
      }

      @include min-screen(1600px) {
        font-size: 16px;
        height: 20px;
        padding-top: 3px;
      }

      &.pops_anime {
        background-color: #f02d6d;
      }

      &.niconico {
        background-color: #8c46ab;
      }

      &.toho {
        background-color: #3862b4;
      }

      &.variety {
        background-color: #458d68;
      }

      &.irodorimidori {
        background-color: #d15995;
      }

      &.gekimai {
        background-color: #ba9f39;
      }

      &.original {
        background-color: #bd2a1a;
      }

      &.we {
        background-color: #000000;
      }

      &.ultima {
        background-color: #ff173d;
      }

    }

    &__tit {
      margin-top: get_vw(30);
      font-size: get_vw(30);

      @include min-screen() {
        margin-top: get_vw(20, 1600);
        font-size: get_vw(22, 1600);
      }

      @include min-screen(1600px) {
        margin-top: 20px;
        font-size: 22px;
      }
    }

    &__head {
      margin-top: get_vw(30);
      font-size: get_vw(14);

      @include min-screen() {
        margin-top: get_vw(20, 1600);
        font-size: get_vw(10, 1600);
      }

      @include min-screen(1600px) {
        margin-top: 20px;
        font-size: 10px;
      }
    }

    &__artist {
      margin-top: get_vw(15);
      font-size: get_vw(20);

      @include min-screen() {
        margin-top: get_vw(10, 1600);
        font-size: get_vw(14, 1600);
      }

      @include min-screen(1600px) {
        margin-top: 10px;
        font-size: 14px;
      }
    }

    &__lv {
      display: flex;
      justify-content: space-between;
      margin-top: get_vw(20);

      @include min-screen() {
        margin-top: get_vw(20, 1600);
      }

      @include min-screen(1600px) {
        margin-top: 20px;
      }

      &.end {
        .music--item__num {
          background-color: #000000;
          width: get_vw(290);

          @include min-screen() {
            width: get_vw(210, 1600);
            padding-top: get_vw(8, 1600);
          }

          @include min-screen(1600px) {
            width: 210px;
            padding-top: 8px;
          }
        }
      }

      &.ultm {
        .music--item__num {
          background-color: #ff173d;
          width: 100%;
        }
      }
    }

    &__num {
      display: flex;
      justify-content: center;
      align-items: center;
      width: get_vw(140);
      height: get_vw(64);
      color: #fff;
      font-weight: bold;
      font-size: get_vw(36);

      @include min-screen() {
        width: get_vw(100, 1600);
        height: get_vw(46, 1600);
        font-size: get_vw(26, 1600);
        padding-top: get_vw(4, 1600);
      }

      @include min-screen(1600px) {
        width: 100px;
        height: 46px;
        font-size: 26px;
        padding-top: 4px;
      }

      &:nth-child(1) {
        background-color: #22ad39;
      }

      &:nth-child(2) {
        background-color: #f39800;
      }

      &:nth-child(3) {
        background-color: #e5024f;
      }

      &:nth-child(4) {
        background-color: #ae0cd2;
      }
    }

    &__copy {
      text-align: left;
      color: #fff;
      margin-top: get_vw(20);
      font-size: get_vw(18);

      @include min-screen() {
        margin-top: get_vw(10, 1600);
        font-size: get_vw(10, 1600);
      }

      @include min-screen(1400px) {
        margin-top: 10px;
        font-size: 10px;
      }

      & .logo {
        width: get_vw(100);
        display: inline-block;
        margin: 0 get_vw(5) get_vw(-5);
        -webkit-backface-visibility: hidden;

        @include min-screen() {
          width: get_vw(70, 1100);
          margin: 0 get_vw(5, 1100) get_vw(-5, 1100);
        }

        @include min-screen(1100px) {
          width: 70px;
          margin: 0 5px -5px;
        }
      }
    }
  }

  &--copy {
    background: $color-music_copyright;
    color: #fff;
    text-align: left;
    font-size: get_vw(20);
    margin: get_vw(40) auto 0;
    padding: get_vw(50);
    width: get_vw(700);
    line-height: 1.5;

    @include min-screen() {
      font-size: get_vw(12, 1600);
      width: get_vw(1100, 1600);
      margin-top: get_vw(40, 1600);
      padding: get_vw(55, 1600);
      line-height: 1.6;
    }

    @include min-screen(1600px) {
      font-size: 12px;
      width: 1100px;
      margin-top: 40px;
      padding: 55px;
    }
  }
}