.news {

  &--wrap {
    margin-top: get_vw(32);

    @include min-screen() {
      margin-top: get_vw(60, $vp_pc);
    }

    @include min-screen(1600px) {
      margin-top: 60px;
    }
  }

  &--list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 get_vw(50);
    width: 100%;

    @include min-screen() {
      padding: 0;
      width: get_vw(1100, $vp_pc);
      justify-content: space-between;
    }

    @include min-screen(1600px) {
      width: 1100px;
    }

    &__item {
      width: 100%;
      position: relative;

      @include min-screen() {
        width: get_vw(542, $vp_pc);
      }

      @include min-screen(1600px) {
        width: 542px;
      }

      &:not(:first-of-type) {

        @include max-screen() {
          margin-top: get_vw(32);
        }
      }

      &:nth-of-type(n+3) {

        @include min-screen() {
          margin-top: get_vw(16, $vp_pc);
        }

        @include min-screen(1600px) {
          margin-top: 16px;
        }
      }

      &.new {
        &:before {
          content: "NEW";
          display: block;
          background-color: #ec2036;
          color: #fff;
          font-family: $font-hind;
          font-size: get_vw(15);
          font-weight: 700;
          position: absolute;
          top: 0;
          left: 0;
          height: get_vw(28);
          width: get_vw(70);
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: get_vw(2);

          @include min-screen() {
            font-size: get_vw(16, $vp_pc);
            height: get_vw(29, $vp_pc);
            width: get_vw(70, $vp_pc);
            padding-top: 0;
          }

          @include min-screen(1600px) {
            font-size: 16px;
            height: 29px;
            width: 70px;
          }
        }
      }
    }

    &__post {
      display: block;
      background: $color-common_cont_bg;
      padding: get_vw(45) get_vw(50) get_vw(50);

      @include min-screen() {
        padding: get_vw(56, $vp_pc) get_vw(56, $vp_pc) get_vw(56, $vp_pc);
      }

      @include min-screen(1600px) {
        padding: 56px 56px 56px;
      }
    }
  }

  &--date {
    color: $color-news_date;
    font-size: get_vw(28);
    font-weight: 700;

    @include min-screen() {
      font-size: get_vw(20, $vp_pc);
    }

    @include min-screen(1600px) {
      font-size: 20px;
    }

    &__gb {
      font-size: get_vw(20);
      margin-left: get_vw(6);

      @include min-screen() {
        font-size: get_vw(14, $vp_pc);
        margin-left: get_vw(5, $vp_pc);
      }

      @include min-screen(1600px) {
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }

  &--title {
    color: $color-news_ttl;
    font-family: $font-notos;
    font-size: get_vw(26);
    font-weight: 700;
    line-height: 1.7;
    margin-top: get_vw(8);

    @include min-screen() {
      font-size: get_vw(18, $vp_pc);
      margin-top: get_vw(10, $vp_pc);
    }

    @include min-screen(1600px) {
      font-size: 18px;
      margin-top: 10px;
    }
  }

  &--thumbnail {
    width: 100%;
    margin-top: get_vw(20);

    @include min-screen() {
      margin-top: get_vw(16, $vp_pc);
    }

    @include min-screen(1600px) {
      margin-top: 16px;
    }
  }

  &--pn {
    display: flex;
    margin: get_vw(60) auto 0;
    width: get_vw(700);
    justify-content: space-between;
    align-items: center;

    @include min-screen() {
      margin-top: get_vw(37, $vp_pc);
      width: get_vw(620, $vp_pc);
    }

    @include min-screen(1600px) {
      margin-top: 37px;
      width: 620px;
    }

    &__inner {
      display: flex;

      &.news--pn__left .news--pn__arrow {
        &:before {
          transform: scale(-1, 1);
        }
      }
    }

    &__center {
      width: get_vw(322);
      display: flex;
      justify-content: center;

      @include min-screen() {
        width: get_vw(350, $vp_pc);
      }

      @include min-screen(1600px) {
        width: 350px;
      }
    }

    &__num {
      display: flex;
      align-items: center;
      justify-content: center;
      width: get_vw(70);
      height: get_vw(70);
      border-radius: get_vw(100);
      background-color: $color-off;
      cursor: pointer;
      color: #fff;
      font-size: get_vw(28);
      font-weight: 900;
      padding-top: 3px;
      border: 1px solid $color-off;

      &.on,
      &:hover {
        border: none;
        color: #1d1d1d;
        background-color: $color-download;
      }

      &:not(:first-child) {
        margin-left: get_vw(14);
      }

      @include min-screen() {
        width: get_vw(50, $vp_pc);
        height: get_vw(50, $vp_pc);
        font-size: get_vw(20, $vp_pc);
        font-weight: 900;

        &:not(:first-child) {
          margin-left: get_vw(10, $vp_pc);
        }
      }

      @include min-screen(1600px) {
        width: 50px;
        height: 50px;
        font-size: 20px;

        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }

    &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: get_vw(70);
      height: get_vw(70);
      border-radius: get_vw(100);
      background-color: $color-arrow;
      cursor: pointer;

      &.off {
        background-color: $color-arrowOff;
        pointer-events: none;

        &:before {
          background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/download/arrow_off.svg);
        }

        &.double {
          &:before {
            background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/download/arrow_double_off.svg);
          }
        }
      }

      @include min-screen() {
        width: get_vw(50, $vp_pc);
        height: get_vw(50, $vp_pc);
      }

      @include min-screen(1600px) {
        width: 50px;
        height: 50px;
      }

      &:nth-child(2) {
        margin-left: get_vw(14);

        @include min-screen() {
          margin-left: get_vw(10, $vp_pc);
        }

        @include min-screen(1600px) {
          margin-left: 10px;
        }
      }

      &:before {
        display: block;
        content: "";
        width: get_vw(40);
        height: get_vw(30);
        background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/download/arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @include min-screen() {
          width: get_vw(20, $vp_pc);
          height: get_vw(20, $vp_pc);
        }

        @include min-screen(1600px) {
          width: 20px;
          height: 20px;
        }
      }

      &.double {
        &:before {
          background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/download/arrow_double.svg);
        }
      }
    }
  }

  &--post {
    margin: 0 auto;
    width: get_vw(700);

    @include min-screen() {
      width: get_vw(1100, $vp_pc);
    }

    @include min-screen(1600px) {
      width: 1100px;
    }

    &__title {
      background-color: $color-news_ttl-bg;
      padding: get_vw(42) get_vw(50) get_vw(42);

      @include min-screen() {
        padding: get_vw(48, $vp_pc) get_vw(56, $vp_pc);
      }

      @include min-screen(1600px) {
        padding: 48px 56px;
      }
    }

    &__date {
      color: #fff;
      font-size: get_vw(28);
      font-weight: 700;

      @include min-screen() {
        font-size: get_vw(20, $vp_pc);
      }

      @include min-screen(1600px) {
        font-size: 20px;
      }

      &--gb {
        font-size: get_vw(20);
        margin-left: get_vw(6);

        @include min-screen() {
          font-size: get_vw(14, $vp_pc);
          margin-left: get_vw(6, $vp_pc);
        }

        @include min-screen(1600px) {
          font-size: 14px;
          margin-left: 6px;
        }
      }
    }

    &__ttl {
      font-family: $font-notos;
      font-size: get_vw(32);
      font-weight: 700;

      @include min-screen() {
        font-size: get_vw(26, $vp_pc);
      }

      @include min-screen(1600px) {
        font-size: 26px;
      }
    }

    &__details {
      background: $color-common_cont_bg;
      padding: get_vw(45) get_vw(50) get_vw(50);

      @include min-screen() {
        padding: get_vw(48, $vp_pc) get_vw(56, $vp_pc) get_vw(48, $vp_pc);
      }

      @include min-screen(1600px) {
        padding: 48px 56px 48px;
      }

      &--wrap {
        color: #fff;
        font-family: $font-notos;
        font-size: get_vw(26);
        font-weight: 400;

        @include min-screen() {
          font-size: get_vw(20, $vp_pc);
        }

        @include min-screen(1600px) {
          font-size: 20px;
        }

        p {
          font-size: get_vw(26);

          @include min-screen() {
            font-size: get_vw(20, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 20px;
          }

          &:not(:first-of-type) {
            margin-top: get_vw(30);

            @include min-screen() {
              margin-top: get_vw(30, $vp_pc);
            }

            @include min-screen(1600px) {
              margin-top: 30px;
            }
          }

          &.copyright {
            margin-top: get_vw(50);
            font-size: get_vw(20);

            @include min-screen() {
              font-size: get_vw(20, $vp_pc);
              margin-top: get_vw(40, $vp_pc);
            }

            @include min-screen(1600px) {
              font-size: 20px;
              margin-top: 40px;
            }
          }
        }

        strong {
          margin-left: 0;
        }

        del {
          color: #fff;
          opacity: 1;
        }

        h1 {
          background-color: $color-news_h1-bg;
          box-shadow: none;
          color: $color-news_h1-font;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          position: relative;
          line-height: 1.3;
          width: 100%;
          font-size: get_vw(30);
          margin: get_vw(60) auto 0;
          padding: get_vw(8) get_vw(10) get_vw(14);

          @include min-screen() {
            font-size: get_vw(26, $vp_pc);
            margin-top: get_vw(60, $vp_pc);
            padding: get_vw(2, $vp_pc) get_vw(10, $vp_pc) get_vw(6, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 26px;
            margin-top: 60px;
            padding: 2px 10px 6px;
          }

          &::before {
            content: "";
            display: block;
            background-color: $color-news_title-border;
            height: 100%;
            width: get_vw(5);
            transform: none;
            position: absolute;
            top: 0;
            left: 0;

            @include min-screen() {
              width: get_vw(5, $vp_pc);
            }

            @include min-screen(1600px) {
              width: 5px;
            }
          }

          &::after {
            content: "";
            display: block;
            background-color: $color-news_title-border;
            height: 100%;
            width: get_vw(5);
            transform: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: auto;

            @include min-screen() {
              width: get_vw(5, $vp_pc);
            }

            @include min-screen(1600px) {
              width: 5px;
            }
          }
        }

        h2 {
          background-color: transparent;
          text-align: left;
          position: relative;
          font-size: get_vw(28);
          padding: 0 0 get_vw(16) get_vw(22);
          margin: get_vw(60) auto 0;

          @include min-screen() {
            font-size: get_vw(26, $vp_pc);
            margin-top: get_vw(60, $vp_pc);
            padding: 0 0 get_vw(16, $vp_pc) get_vw(18, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 26px;
            margin-top: 60px;
            padding: 0 0 16px 18px;
          }

          &::before {
            content: "";
            display: block;
            background-color: $color-news_title-border;
            height: 100%;
            width: get_vw(5);
            transform: none;
            position: absolute;
            top: 0;
            left: 0;

            @include min-screen() {
              width: get_vw(5, $vp_pc);
            }

            @include min-screen(1600px) {
              width: 5px;
            }
          }

          &::after {
            content: "";
            display: block;
            border-bottom: solid get_vw(2) #ccc;
            margin-top: get_vw(14);
            position: absolute;
            width: get_vw(589);
            right: 0;
            bottom: 0;

            @include min-screen() {
              border-bottom: solid get_vw(1, $vp_pc) #ccc;
              margin-top: get_vw(10, $vp_pc);
              width: get_vw(975, $vp_pc);
            }

            @include min-screen(1600px) {
              border-bottom: solid 1px #ccc;
              margin-top: 10px;
              width: 975px;
            }
          }
        }

        h3 {
          background-color: transparent;
          text-align: left;
          position: relative;
          color: #fff;
          font-size: get_vw(28);
          padding: 0 0 get_vw(2) get_vw(22);
          line-height: 1.2;
          border: none;
          margin: get_vw(60) auto 0;

          @include min-screen() {
            font-size: get_vw(26, $vp_pc);
            margin-top: get_vw(60, $vp_pc);
            padding: 0 get_vw(18, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 26px;
            margin-top: 60px;
            padding: 0 18px;
          }

          &::before {
            content: "";
            display: block;
            background-color: $color-news_title-border;
            height: 100%;
            width: get_vw(5);
            transform: none;
            position: absolute;
            top: 0;
            left: 0;

            @include min-screen() {
              width: get_vw(5, $vp_pc);
            }

            @include min-screen(1600px) {
              width: 5px;
            }
          }
        }

        h4,
        h5,
        h6 {
          position: relative;
          font-size: get_vw(28);
          padding-left: get_vw(26);
          margin: get_vw(50) auto 0;

          @include min-screen() {
            font-size: get_vw(24, $vp_pc);
            margin-top: get_vw(50, $vp_pc);
            padding: 0 0 get_vw(6, $vp_pc) get_vw(22, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 24px;
            margin-top: 50px;
            padding: 0 0 6px 22px;
          }

          &::before {
            content: "";
            display: block;
            background: $color-news_title-border;
            border-radius: 100%;
            height: get_vw(6);
            width: get_vw(6);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            @include min-screen() {
              height: get_vw(6, $vp_pc);
              width: get_vw(6, $vp_pc);
            }

            @include min-screen(1600px) {
              height: 6px;
              width: 6px;
            }
          }
        }

        dl {

          @include min-screen() {
            margin: get_vw(22, $vp_pc) auto 0;
            padding: 0 get_vw(22, $vp_pc);
          }

          @include min-screen(1600px) {
            margin: 22px auto 0;
            padding: 0 22px;
          }
        }

        dt {
          font-size: get_vw(26);

          @include min-screen() {
            font-size: get_vw(18, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 18px;
          }
        }

        dd {
          font-size: get_vw(26);

          @include min-screen() {
            font-size: get_vw(18, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 18px;
          }
        }

        blockquote {
          color: $color-news_blockquote;
          border-left: solid get_vw(4) $color-news_blockquote-bd;
          padding: 0 get_vw(22);
          line-height: 1.7;
          margin-top: get_vw(40);

          @include min-screen() {
            border-left: solid get_vw(4, $vp_pc) $color-news_blockquote-bd;
            font-size: get_vw(18, $vp_pc);
            margin-top: get_vw(30, $vp_pc);
            padding: 0 get_vw(22, $vp_pc);
          }

          @include min-screen(1600px) {
            border-left: solid 4px $color-news_blockquote-bd;
            font-size: 18px;
            margin-top: 30px;
            padding: 0 22px;
          }
        }

        pre {
          background-color: $color-news_pre-bg;
          color: $color-news_pre;
          border-radius: 0;
          font-family: $font-notos;
          font-size: get_vw(26);
          line-height: 1.7;
          margin-top: get_vw(40);
          padding: get_vw(20) get_vw(28);

          @include min-screen() {
            margin-top: get_vw(30, $vp_pc);
            font-size: get_vw(18, $vp_pc);
            padding: get_vw(16, $vp_pc) get_vw(28, $vp_pc);
          }

          @include min-screen(1600px) {
            margin-top: 30px;
            font-size: 18px;
            padding: 16px 28px;
          }
        }

        code {
          background-color: $color-news_code-bg;
          color: $color-news_code;
          border-radius: 0;
          color: #404040;
          font-family: $font-notos;
          font-size: get_vw(26);
          line-height: 1.7;
          margin-top: get_vw(40);
          padding: get_vw(20) get_vw(28);

          @include min-screen() {
            margin-top: get_vw(30, $vp_pc);
            font-size: get_vw(18, $vp_pc);
            padding: get_vw(16, $vp_pc) get_vw(28, $vp_pc);
          }

          @include min-screen(1600px) {
            margin-top: 30px;
            font-size: 18px;
            padding: 16px 28px;
          }
        }

        table {
          margin: get_vw(60) auto 0;

          @include min-screen() {
            margin-top: get_vw(50, $vp_pc);
          }

          @include min-screen(1600px) {
            margin-top: 50px;
          }
        }

        th {
          background-color: $color-news_th-bg;
          color: $color-news_table;
          padding: get_vw(8) get_vw(16) get_vw(14);
          font-size: get_vw(26);
          border: none;

          @include min-screen() {
            font-size: get_vw(26, $vp_pc);
            padding: get_vw(8, $vp_pc) get_vw(7, $vp_pc) get_vw(14, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 26px;
            padding: 8px 7px 14px;
          }
        }

        td {
          background-color: $color-news_td-bg;
          color: $color-news_table;
          padding: get_vw(12) get_vw(16) get_vw(16);
          font-size: get_vw(26);
          border: solid get_vw(3) #1c254b;

          @include min-screen() {
            font-size: get_vw(20, $vp_pc);
            padding: get_vw(12, $vp_pc) get_vw(7, $vp_pc) get_vw(15, $vp_pc);
            border: solid get_vw(2, $vp_pc) #1c254b;
          }

          @include min-screen(1600px) {
            font-size: 20px;
            padding: 12px 7px 15px;
            border: solid 2px #1c254b;
          }
        }

        ol,
        ul {
          font-family: $font-notos;
          font-size: get_vw(26);
          margin-top: get_vw(50);

          @include min-screen() {
            font-size: get_vw(20, $vp_pc);
            margin-top: get_vw(40, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 20px;
            margin-top: 40px;
          }
        }

        ol {
          counter-reset: item;
          padding-left: 0;

          li {
            text-indent: -1.3em;
            padding-left: 1.3em;

            &::before {
              counter-increment: item;
              content: counter(item);
              padding-right: .5em;
              font-weight: 700;
              color: $color-news_list-marker;
            }
          }
        }

        ul {

          li {
            text-indent: -1.3em;
            padding-left: 1.3em;

            &::before {
              content: "・";
              display: inline-block;
              padding-right: .5em;
              color: $color-news_list-marker;
            }
          }
        }

        .redBig,
        .greenBig,
        .purpleBig,
        .grayBig {
          font-size: get_vw(30);
          font-weight: 700;

          @include min-screen() {
            font-size: get_vw(24, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 24px;
          }
        }

        .redBig,
        .red {
          color: $color-news_red;
        }

        .greenBig,
        .green {
          color: $color-news_green;
        }

        .purpleBig,
        .purple {
          color: $color-news_purple;
        }

        .grayBig,
        .gray {
          color: $color-news_gray;
        }

        .blue {
          color: $color-news_blue;
        }

        .pink {
          color: $color-news_pink;
        }

        .kon {
          color: $color-news_kon;
        }

        .orange {
          color: $color-news_orange;
        }

        .kome {
          color: $color-news_kome;
          display: inline-block;
          font-size: get_vw(20);
          font-weight: 400;
          margin-top: get_vw(10);

          @include min-screen() {
            font-size: get_vw(16, $vp_pc);
            margin-top: get_vw(10, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 16px;
            margin-top: 10px;
          }
        }

        .fontL {
          font-size: get_vw(34);

          @include min-screen() {
            font-size: get_vw(32, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 32px;
          }
        }

        .fontB {
          font-size: get_vw(34);
          font-weight: 700;

          @include min-screen() {
            font-size: get_vw(32, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 32px;
          }
        }

        .fontM {
          font-size: get_vw(30);

          @include min-screen() {
            font-size: get_vw(28, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 28px;
          }
        }

        .img-caption {
          padding: 0;
          text-align: left;
          font-size: get_vw(22);
          margin-top: get_vw(24);

          @include min-screen() {
            font-size: get_vw(14, $vp_pc);
            margin-top: 0;
            line-height: 1.6;
          }

          @include min-screen(1600px) {
            font-size: 14px;
          }
        }

        .blockImage {
          line-height: 0;
        }

        .jacketArea1,
        .jacketArea2,
        .jacketArea3 {
          margin-bottom: 0;
          margin-top: get_vw(60);

          @include min-screen() {
            margin-top: get_vw(50, $vp_pc);
          }

          @include min-screen(1600px) {
            margin-top: 50px;
          }

          .artist {
            font-size: get_vw(24);
            margin-top: get_vw(30);
            line-height: 1.8;

            @include min-screen() {
              font-size: get_vw(20, $vp_pc);
              margin-top: get_vw(18, $vp_pc);
            }

            @include min-screen(1600px) {
              font-size: 20px;
              margin-top: 18px;
            }

            strong {
              font-size: get_vw(28);

              @include min-screen() {
                font-size: get_vw(24, $vp_pc);
              }

              @include min-screen(1600px) {
                font-size: 24px;
              }
            }
          }
        }

        .jacketArea1 {

          .img-caption {

            @include min-screen() {
              margin: get_vw(18, $vp_pc) auto 0;
              width: get_vw(300, $vp_pc);
            }

            @include min-screen(1600px) {
              margin: 18px auto 0;
              width: 300px;
            }
          }
        }

        .jacketBox {
          .img {

            @include min-screen() {
              max-width: get_vw(300, $vp_pc);
            }

            @include min-screen(1600px) {
              max-width: 300px;
            }
          }
        }


        .jacketArea2 {

          .jacketBox {

            @include max-screen() {
              width: 100%;
            }

            @include min-screen() {
              padding: 0 get_vw(38, $vp_pc);
            }

            @include min-screen(1600px) {
              padding: 0 38px;
            }

            &:not(:first-of-type) {

              @include max-screen() {
                margin: get_vw(60) auto 0;
              }
            }

          }
        }

        .jacketArea3 {

          @include min-screen() {
            justify-content: space-between;
          }

          .jacketBox {
            padding-bottom: 0;

            @include max-screen() {
              width: 100%;
            }

            @include min-screen() {
              padding: 0 get_vw(8, $vp_pc);
            }

            @include min-screen(1600px) {
              padding: 0 8px;
            }

            &:not(:first-of-type) {

              @include max-screen() {
                margin: get_vw(60) auto 0;
              }
            }

          }
        }

        .imagebox2,
        .imagebox3,
        .imagebox4,
        .imagebox5 {
          margin-top: get_vw(40);
          justify-content: space-between;
          width: 100%;

          @include min-screen() {
            margin-top: get_vw(50, $vp_pc);
          }

          @include min-screen(1600px) {
            margin-top: 50px;
          }

          &>* {
            display: inline-block !important;
            margin: 0 !important;
            max-width: initial;
          }

          &:after {
            display: none;
          }
        }

        .imagebox2 {

          @include min-screen() {
            justify-content: center;
          }

          &>p {
            width: get_vw(284);

            @include min-screen() {
              width: get_vw(300, $vp_pc);
            }

            @include min-screen(1600px) {
              width: 300px;
            }

            &:not(:first-of-type) {
              @include min-screen() {
                margin-left: get_vw(34, $vp_pc) !important;
              }

              @include min-screen(1600px) {
                margin-left: 34px !important;
              }
            }
          }
        }

        .imagebox3 {

          &>p {
            width: get_vw(186);

            @include min-screen() {
              width: get_vw(300, $vp_pc);
            }

            @include min-screen(1600px) {
              width: 300px;
            }
          }
        }

        .imagebox4 {

          &>p {
            width: get_vw(135);

            @include min-screen() {
              width: get_vw(218, $vp_pc);
            }

            @include min-screen(1600px) {
              width: 218px;
            }
          }
        }

        .imagebox5 {
          &>p {
            width: get_vw(104);

            @include min-screen() {
              width: get_vw(168, $vp_pc);
            }

            @include min-screen(1600px) {
              width: 168px;
            }
          }
        }

        .buttonLink {
          width: 100%;
          @include center;
          background-color: $color-news_button;
          color: $color-news_button-txt;
          font-family: $font-hind;
          font-size: get_vw(28);
          padding: 0;
          margin-top: get_vw(60);

          @include min-screen() {
            font-size: get_vw(22, $vp_pc);
            margin-top: get_vw(60, $vp_pc);
            width: get_vw(400, $vp_pc);
          }

          @include min-screen(1600px) {
            font-size: 22px;
            margin-top: 60px;
            width: 400px;
          }

          &:hover {
            background-color: $color-news_button;

            @include min-screen() {
              background-color: $color-news_button-hover;
            }
          }

          &>span {
            padding-top: get_vw(5);

            @include min-screen() {
              padding-top: get_vw(5, $vp_pc);
            }

            @include min-screen(1400px) {
              padding-top: 3px;
            }
          }
        }

        .hrLine {
          border-top: solid get_vw(2) #9b9b9b;
          margin-top: get_vw(60);

          @include min-screen() {
            border-top: solid get_vw(2, $vp_pc) #9b9b9b;
            margin-top: get_vw(60, $vp_pc);
          }

          @include min-screen(1600px) {
            border-top: solid 2px #9b9b9b;
            margin-top: 60px;
          }
        }
      }

      &--image {

        @include min-screen() {
          margin-top: get_vw(50, $vp_pc) !important;
        }

        @include min-screen(1600px) {
          margin-top: 50px !important;
        }
      }
    }

    &__btn {
      margin-top: get_vw(80);

      @include min-screen() {
        margin-top: get_vw(80, $vp_pc);
      }

      @include min-screen(1600px) {
        margin-top: 80px;
      }

      span {
        padding-top: get_vw(5);

        @include min-screen() {
          padding-top: get_vw(5, $vp_pc);
        }

        @include min-screen(1400px) {
          padding-top: 4px;
        }
      }
    }
  }
}