.top {

  &--wrapper {
    @include min-screen() {
      padding-top: get_vw(0, $vp_pc);
    }

    @include min-screen(1600px) {
      padding-top: 0px;
    }
  }

  &--kv {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    position: relative;
    overflow: hidden;

    &__img {
      margin-top: get_vw(8);
      width: 100%;

      @include min-screen() {
        margin: get_vw(114, $vp_pc) auto 0 get_vw(212, $vp_pc);
        width: get_vw(1158, $vp_pc);
      }

      @include min-screen(1600px) {
        margin: 114px auto 0 212px;
        width: 1158px;
      }
    }

    &__logo {
      width: get_vw(672);
      margin: get_vw(-250) auto 0;

      @include min-screen() {
        width: get_vw(504, $vp_pc);
        margin: get_vw(-318, $vp_pc) auto 0 get_vw(549, $vp_pc);
      }

      @include min-screen(1600px) {
        width: 504px;
        margin: -318px auto 0 549px;
      }
    }
  }

  &--btn {
    margin-top: get_vw(16);

    @include min-screen() {
      display: flex;
      justify-content: center;
      margin-top: get_vw(70, $vp_pc);
    }

    @include min-screen(1600px) {
      margin-top: 70px;
    }

    &__wrapper {
      position: relative;
      display: block;
      width: get_vw(700);
      height: get_vw(145);
      margin: 0 auto;

      @include min-screen() {
        width: get_vw(540, $vp_pc);
        height: get_vw(112, $vp_pc);
        margin: 0;

      }

      &:hover {
        .top--btn__box:before {
          @include min-screen() {
            border-width: get_vw(800, $vp_pc) get_vw(650, $vp_pc) 0 0;
          }

          @include min-screen(1600px) {
            border-width: 800px 650px 0 0;
          }
        }
      }

      @include min-screen(1600px) {
        width: 540px;
        height: 112px;
      }

      &:not(:first-child) {
        margin-top: get_vw(50);

        @include min-screen() {
          margin-top: 0;
          margin-left: get_vw(20, $vp_pc);
        }

        @include min-screen(1600px) {
          margin-left: 20px;
        }
      }
    }

    &__box {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-left: get_vw(30);
      margin: 0 auto;
      background-color: $color-top_btn;
      color: #fff;
      font-size: get_vw(32);
      font-weight: bold;
      overflow: hidden;
      line-height: 1.5;

      @include min-screen() {
        font-size: get_vw(26, $vp_pc);
        padding-left: get_vw(20, $vp_pc);
      }

      @include min-screen(1600px) {
        font-size: 26px;
        padding-left: 20px;
      }

      &.small {
        font-size: get_vw(30);

        @include min-screen() {
          font-size: get_vw(22, $vp_pc);
        }

        @include min-screen(1600px) {
          font-size: 22px;
        }
      }

      &>span {
        position: relative;
        z-index: 10;
      }

      &:before {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: get_vw(320) get_vw(190) 0 0;
        border-color: $color-top_btn_tri transparent transparent transparent;

        @include min-screen() {
          border-width: get_vw(250, $vp_pc) get_vw(150, $vp_pc) 0 0;
          transition: 300ms;
        }

        @include min-screen(1600px) {
          border-width: 250px 150px 0 0;
        }
      }
    }

    &__img {
      position: absolute;
      z-index: 100;

      &.i01 {
        width: get_vw(110);
        top: get_vw(-58);
        right: get_vw(82);

        @include min-screen() {
          width: get_vw(89, $vp_pc);
          top: get_vw(-45, $vp_pc);
          right: get_vw(45, $vp_pc);
        }

        @include min-screen(1600px) {
          width: 89px;
          top: -45px;
          right: 45px;
        }
      }

      &.i02 {
        width: get_vw(250);
        top: 50%;
        right: get_vw(30);
        margin-top: get_vw(9);
        transform: translateY(-50%);

        @include min-screen() {
          width: get_vw(202, $vp_pc);
          right: get_vw(14, $vp_pc);
          margin-top: get_vw(0, $vp_pc);
        }

        @include min-screen(1600px) {
          width: 202px;
          right: 14px;
          margin-top: 0px;
        }
      }
    }
  }

  &--info {
    margin-top: get_vw(100);
    width: 100%;

    @include min-screen() {
      margin-top: get_vw(120, $vp_pc);
    }

    @include min-screen(1400px) {
      margin-top: 120px;
    }

    &__ttl {
      &>span {
        filter: drop-shadow(0 0 get_vw(10) rgba(0, 0, 0, 1));

        @include min-screen() {
          filter: drop-shadow(0 0 get_vw(10, $vp_pc) rgba(0, 0, 0, 1));
        }

        @include min-screen(1600px) {
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
        }
      }
    }

    &__inner {
      overflow: hidden;
    }

    &__wrapper {
      position: relative;
      width: 100%;
    }

    &__container {
      width: get_vw(800);
      margin-top: get_vw(50);
      overflow: visible;

      @include min-screen() {
        width: get_vw(800, $vp_pc);
        margin-top: get_vw(50, $vp_pc);
      }

      @include min-screen(1600px) {
        width: 800px;
        margin-top: 50px;
      }
    }

    &__link {
      display: block;
      margin: 0 get_vw(50);

      @include min-screen() {
        margin: 0 get_vw(45, $vp_pc);
        transition: 300ms;

        &:hover {
          opacity: 0.7;
        }
      }

      @include min-screen(1600px) {
        margin: 0 45px;
      }
    }

    &__arrow {
      width: get_vw(40);
      height: get_vw(70);
      background-color: $color-swiper;
      transition: 300ms;

      @include min-screen() {
        width: get_vw(40, $vp_pc);
        height: get_vw(70, $vp_pc);

        &:hover {
          background-color: $color-arrow_on;
        }
      }

      @include min-screen(1600px) {
        width: 40px;
        height: 70px;
      }

      &.prev {
        transform: scale(-1, 1);
        left: 0;

        @include min-screen() {
          left: get_vw(-20, $vp_pc);
        }

        @include min-screen(1600px) {
          left: -20px;
        }
      }

      &.next {
        right: 0;

        @include min-screen() {
          right: get_vw(-20, $vp_pc);
        }

        @include min-screen(1400px) {
          right: -20px;
        }
      }

      &:after {
        display: block;
        content: "";
        background-image: url(https://performai-1322987489.cos.ap-beijing.myqcloud.com/asset/img/main/common/arrow.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: get_vw(14);
        height: get_vw(28);

        @include min-screen() {
          width: get_vw(14, $vp_pc);
          height: get_vw(28, $vp_pc);
        }

        @include min-screen(1600px) {
          width: 14px;
          height: 28px;
        }
      }
    }

    &__pagination {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: get_vw(40);

      @include min-screen() {
        margin-top: get_vw(40, $vp_pc);
      }

      @include min-screen(1600px) {
        margin-top: 40px;
      }

      & .swiper-pagination-bullet {
        background-color: $color-bullet;
        opacity: 1;
        width: get_vw(16);
        height: get_vw(16);
        margin: 0 get_vw(5);

        @include min-screen() {
          width: get_vw(16, $vp_pc);
          height: get_vw(16, $vp_pc);
          margin: 0 get_vw(5, $vp_pc);
        }

        @include min-screen(1600px) {
          width: 16px;
          height: 16px;
          margin: 0 5px;
        }
      }

      & .swiper-pagination-bullet-active {
        background-color: $color-bullet_on;
      }
    }

    &__btn {
      margin-top: get_vw(50);

      @include min-screen() {
        margin-top: get_vw(35, $vp_pc);
      }

      @include min-screen(1400px) {
        margin-top: 35px;
      }

      span {
        padding-top: get_vw(5);

        @include min-screen() {
          padding-top: get_vw(5, $vp_pc);
        }

        @include min-screen(1400px) {
          padding-top: 6px;
        }
      }
    }
  }

  &--update {
    margin-top: get_vw(130);

    @include min-screen() {
      margin-top: get_vw(120, $vp_pc);
    }

    @include min-screen(1400px) {
      margin-top: 120px;
    }

    &__wrapper {
      padding: get_vw(70) get_vw(50);
      background: rgb(28, 37, 75);
      background: $color-top_box;

      @include min-screen() {
        padding: get_vw(90, $vp_pc) 0;
      }

      @include min-screen(1600px) {
        padding: 90px 0;
      }
    }

    &__box {
      width: get_vw(600);
      height: get_vw(450);
      margin: 0 auto;
      overflow: scroll;

      @include min-screen() {
        width: get_vw(620, 1100);
        height: get_vw(130, 1100);
        overflow: scroll;
        padding-right: get_vw(20, 1100);
      }

      @include min-screen(1100px) {
        width: 620px;
        height: 130px;
        overflow: scroll;
        padding-right: 20px;
      }

      &::-webkit-scrollbar {
        width: get_vw(20);

        @include min-screen() {
          width: get_vw(10, 1100);
        }

        @include min-screen(1400px) {
          width: 10px;
        }
      }

      &::-webkit-scrollbar-corner {
        background: transparent;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: $color-slider;
        border-radius: 100px;
      }
    }

    &__list {}

    &__item {
      width: 100%;
      padding-bottom: get_vw(40);
      border-bottom: 1px solid #fff;

      @include min-screen() {
        display: flex;
        padding-bottom: get_vw(20, 1100);
      }

      @include min-screen(1400px) {
        padding-bottom: 20px;
      }

      &:last-child {
        border: none;
      }

      &:not(:first-child) {
        margin-top: get_vw(30);

        @include min-screen() {
          margin-top: get_vw(30, 1100);
        }

        @include min-screen(1400px) {
          margin-top: 30px;
        }
      }
    }

    &__time {
      color: $color-time;
      font-size: get_vw(28);
      font-weight: 900;

      @include min-screen() {
        font-size: get_vw(16, 1100);
        margin-top: get_vw(5, 1100);
      }

      @include min-screen(1100px) {
        font-size: 16px;
        margin-top: 5px;
      }
    }

    &__text {
      font-size: get_vw(24);
      margin-top: get_vw(15);
      line-height: 1.5;
      color: #fff;

      @include min-screen() {
        font-size: get_vw(14, 1100);
        margin-left: get_vw(30, 1100);
        margin-top: 0;
      }

      @include min-screen(1100px) {
        font-size: 14px;
        margin-left: 30px;
      }

      &>a {
        text-decoration: underline;
        color: $color-time;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &--fb {
    margin-top: get_vw(130);

    @include min-screen() {
      margin-top: get_vw(120, $vp_pc);
    }

    @include min-screen(1400px) {
      margin-top: 120px;
    }

    &__page {
      width: get_vw(500);
      max-width: 500px;
      margin: 0 auto;

      @include min-screen() {

        width: get_vw(500, 1100);
        max-width: 500px;
      }

      @include min-screen(1100px) {}
    }
  }

  &--bnr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: get_vw(580);
    height: get_vw(270);
    font-size: 0;
    margin: get_vw(120) auto 0;
    background-color: #151c39;

    @include min-screen() {
      width: get_vw(320, $vp_pc);
      height: get_vw(150, $vp_pc);
      margin-top: get_vw(90, $vp_pc);
      transition: 300ms;

      &:hover {
        opacity: 0.7;
      }
    }

    @include min-screen(1600px) {
      width: 320px;
      height: 150px;
      margin-top: 90px;
    }

    &__inner {
      display: block;
      width: get_vw(540);

      @include min-screen() {
        width: get_vw(300, $vp_pc);
      }

      @include min-screen(1600px) {
        width: 300px;
      }
    }
  }

  &--news {
    margin-top: get_vw(136);
    width: 100%;

    @include min-screen() {
      margin-top: get_vw(120, $vp_pc);
    }

    @include min-screen(1400px) {
      margin-top: 120px;
    }

    &__wrapper {
      background: transparent;
      // margin-left: get_vw(50);
      width: 100%;
      // flex-wrap: wrap;
      // align-items: flex-start;

    }

    &__inner {
      margin: get_vw(33) auto 0;
      padding: 0 get_vw(50);
      width: 100%;
      display: flex;

      @include max-screen() {
        overflow: scroll;
        overflow-x: auto;
        white-space: nowrap;
      }

      @include min-screen() {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin-top: get_vw(40, $vp_pc);
      }

      @include min-screen(1400px) {
        margin-top: 40px;
        max-width: 1100px;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__box {
      display: flex;

      &:not(:first-of-type) {
        margin-left: get_vw(50);

        @include min-screen() {
          margin-left: 22px;
        }
      }

      &--inner {
        background: $color-top_box;
        white-space: initial;
        padding: get_vw(38) get_vw(48) get_vw(48);
        width: get_vw(600);

        @include min-screen() {
          padding: get_vw(22, $vp_pc) get_vw(28, $vp_pc) get_vw(28, $vp_pc);
          width: get_vw(352, $vp_pc);
        }

        @include min-screen(1400px) {
          padding: 22px 28px 28px;
          width: 352px;
        }
      }
    }

    &__date {
      color: $color-news_date;
      font-family: $font-hind;
      font-size: get_vw(28);
      font-weight: 700;

      @include min-screen() {
        font-size: get_vw(16, $vp_pc);
      }

      @include min-screen(1400px) {
        font-size: 16px;
      }

      &>span {
        margin-right: get_vw(8);

        @include min-screen() {
          margin-right: get_vw(4, $vp_pc);
        }

        @include min-screen(1400px) {
          margin-right: 4px;
        }
      }
    }

    &__title {
      color: $color-news_ttl;
      font-family: $font-notos;
      font-size: get_vw(24);
      font-weight: 400;
      line-height: 1.7;
      margin-top: get_vw(14);

      @include min-screen() {
        font-size: get_vw(14, $vp_pc);
        margin-top: get_vw(8, $vp_pc);
      }

      @include min-screen(1400px) {
        font-size: 14px;
        margin-top: 8px;
      }

      .title {
        display: block;
        overflow: hidden;
        width: 100%;
        height: get_vw(80);

        @include min-screen() {
          height: get_vw(47, $vp_pc);
        }

        @include min-screen(1400px) {
          height: 47px;
        }
      }
    }

    &__thumb {
      width: 100%;
      margin-top: get_vw(34);

      @include min-screen() {
        margin-top: get_vw(18, $vp_pc);
      }

      @include min-screen(1400px) {
        margin-top: 18px;
      }
    }

    &__btn {
      margin-top: get_vw(50);

      @include min-screen() {
        margin-top: 50px;
      }

      span {
        padding-top: get_vw(5);

        @include min-screen() {
          padding-top: get_vw(5, $vp_pc);
        }

        @include min-screen(1400px) {
          padding-top: 5px;
        }
      }
    }
  }

  .header {
    @include max-screen {
      position: absolute;
    }
  }
}