@charset "UTF-8";

// ミックスイン

@import "mixin";
@import "media-queries";
// コモン
@import "common";
// ヘッダー
@import "header";
// フッター
@import "footer";
// トップ
@import "top";
// サブナビ
@import "snav";
// play
@import "play";
// chara
@import "chara";
// dl
@import "dl";
// music
@import "music";
// news
@import "news";

/*========================================
*	common
========================================*/
// セレクション
::selection {
  background: #03112a;
  color: #f38e17;
}

html,
body {
  //font-size: 62.5%;
  height: 100%;
  color: #000;
  background-color: rgb(22, 52, 201);
  font-family: $font-base;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: 0;
}

* {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  //display: none;
  //-webkit-appearance: none;
}

body {
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3 {
  line-height: 1;
}

ul,
li {
  list-style: none;
}

tr,
th,
td {
  font-weight: normal;
  text-align: left;
}

img {
  width: 100%;
}

// pc非表示
.pc-none {
  display: none;

  @include max-screen($bp_sp) {
    display: block;
  }
}

// sp非表示
.sp-none {
  @include max-screen($bp_sp) {
    display: none;
  }
}

input[type="text"] {
  border: none;
  border-radius: 0;
  outline: none;
}